venv/bin/python3.8
venv/lib/python3.8/site-packages/CacheControl-0.12.11.dist-info/entry_points.txt
venv/lib/python3.8/site-packages/CacheControl-0.12.11.dist-info/LICENSE.txt
venv/lib/python3.8/site-packages/CacheControl-0.12.11.dist-info/METADATA
venv/lib/python3.8/site-packages/CacheControl-0.12.11.dist-info/top_level.txt
venv/lib/python3.8/site-packages/CacheControl-0.12.11.dist-info/WHEEL
venv/lib/python3.8/site-packages/Flask-2.2.1.dist-info/entry_points.txt
venv/lib/python3.8/site-packages/Flask-2.2.1.dist-info/LICENSE.rst
venv/lib/python3.8/site-packages/Flask-2.2.1.dist-info/top_level.txt
venv/lib/python3.8/site-packages/Flask-2.2.1.dist-info/WHEEL
venv/lib/python3.8/site-packages/Jinja2-3.1.2.dist-info/entry_points.txt
venv/lib/python3.8/site-packages/Jinja2-3.1.2.dist-info/LICENSE.rst
venv/lib/python3.8/site-packages/Jinja2-3.1.2.dist-info/METADATA
venv/lib/python3.8/site-packages/Jinja2-3.1.2.dist-info/top_level.txt
venv/lib/python3.8/site-packages/Jinja2-3.1.2.dist-info/WHEEL
venv/lib/python3.8/site-packages/MarkupSafe-2.1.1.dist-info/LICENSE.rst
venv/lib/python3.8/site-packages/MarkupSafe-2.1.1.dist-info/METADATA
venv/lib/python3.8/site-packages/MarkupSafe-2.1.1.dist-info/top_level.txt
venv/lib/python3.8/site-packages/MarkupSafe-2.1.1.dist-info/WHEEL
venv/lib/python3.8/site-packages/SecretStorage-3.3.2.dist-info/LICENSE
venv/lib/python3.8/site-packages/SecretStorage-3.3.2.dist-info/METADATA
venv/lib/python3.8/site-packages/SecretStorage-3.3.2.dist-info/top_level.txt
venv/lib/python3.8/site-packages/SecretStorage-3.3.2.dist-info/WHEEL
venv/lib/python3.8/site-packages/Werkzeug-2.2.1.dist-info/LICENSE.rst
venv/lib/python3.8/site-packages/Werkzeug-2.2.1.dist-info/top_level.txt
venv/lib/python3.8/site-packages/Werkzeug-2.2.1.dist-info/WHEEL
venv/lib/python3.8/site-packages/_distutils_hack/__init__.py
venv/lib/python3.8/site-packages/_distutils_hack/override.py
venv/lib/python3.8/site-packages/aiohttp/__init__.py
venv/lib/python3.8/site-packages/aiohttp/.hash/_cparser.pxd.hash
venv/lib/python3.8/site-packages/aiohttp/.hash/_find_header.pxd.hash
venv/lib/python3.8/site-packages/aiohttp/.hash/_helpers.pyi.hash
venv/lib/python3.8/site-packages/aiohttp/.hash/_helpers.pyx.hash
venv/lib/python3.8/site-packages/aiohttp/.hash/_http_parser.pyx.hash
venv/lib/python3.8/site-packages/aiohttp/.hash/_http_writer.pyx.hash
venv/lib/python3.8/site-packages/aiohttp/.hash/_websocket.pyx.hash
venv/lib/python3.8/site-packages/aiohttp/.hash/hdrs.py.hash
venv/lib/python3.8/site-packages/aiohttp-3.8.1.dist-info/LICENSE.txt
venv/lib/python3.8/site-packages/aiohttp-3.8.1.dist-info/METADATA
venv/lib/python3.8/site-packages/aiohttp-3.8.1.dist-info/top_level.txt
venv/lib/python3.8/site-packages/aiohttp-3.8.1.dist-info/WHEEL
venv/bin/python3.8
venv/lib/python3.8/site-packages/CacheControl-0.12.11.dist-info/entry_points.txt
venv/lib/python3.8/site-packages/CacheControl-0.12.11.dist-info/LICENSE.txt
venv/lib/python3.8/site-packages/CacheControl-0.12.11.dist-info/METADATA
venv/lib/python3.8/site-packages/CacheControl-0.12.11.dist-info/top_level.txt
venv/lib/python3.8/site-packages/CacheControl-0.12.11.dist-info/WHEEL
venv/lib/python3.8/site-packages/Flask-2.2.1.dist-info/entry_points.txt
venv/lib/python3.8/site-packages/Flask-2.2.1.dist-info/LICENSE.rst
venv/lib/python3.8/site-packages/Flask-2.2.1.dist-info/top_level.txt
venv/lib/python3.8/site-packages/Flask-2.2.1.dist-info/WHEEL
venv/lib/python3.8/site-packages/Jinja2-3.1.2.dist-info/entry_points.txt
venv/lib/python3.8/site-packages/Jinja2-3.1.2.dist-info/LICENSE.rst
venv/lib/python3.8/site-packages/Jinja2-3.1.2.dist-info/METADATA
venv/lib/python3.8/site-packages/Jinja2-3.1.2.dist-info/top_level.txt
venv/lib/python3.8/site-packages/Jinja2-3.1.2.dist-info/WHEEL
venv/lib/python3.8/site-packages/MarkupSafe-2.1.1.dist-info/LICENSE.rst
venv/lib/python3.8/site-packages/MarkupSafe-2.1.1.dist-info/METADATA
venv/lib/python3.8/site-packages/MarkupSafe-2.1.1.dist-info/top_level.txt
venv/lib/python3.8/site-packages/MarkupSafe-2.1.1.dist-info/WHEEL
venv/lib/python3.8/site-packages/SecretStorage-3.3.2.dist-info/LICENSE
venv/lib/python3.8/site-packages/SecretStorage-3.3.2.dist-info/METADATA
venv/lib/python3.8/site-packages/SecretStorage-3.3.2.dist-info/top_level.txt
venv/lib/python3.8/site-packages/SecretStorage-3.3.2.dist-info/WHEEL
venv/lib/python3.8/site-packages/Werkzeug-2.2.1.dist-info/LICENSE.rst
venv/lib/python3.8/site-packages/Werkzeug-2.2.1.dist-info/top_level.txt
venv/lib/python3.8/site-packages/Werkzeug-2.2.1.dist-info/WHEEL
venv/lib/python3.8/site-packages/_distutils_hack/__init__.py
venv/lib/python3.8/site-packages/_distutils_hack/override.py
venv/lib/python3.8/site-packages/aiohttp/__init__.py
venv/lib/python3.8/site-packages/aiohttp/.hash/_cparser.pxd.hash
venv/lib/python3.8/site-packages/aiohttp/.hash/_find_header.pxd.hash
venv/lib/python3.8/site-packages/aiohttp/.hash/_helpers.pyi.hash
venv/lib/python3.8/site-packages/aiohttp/.hash/_helpers.pyx.hash
venv/lib/python3.8/site-packages/aiohttp/.hash/_http_parser.pyx.hash
venv/lib/python3.8/site-packages/aiohttp/.hash/_http_writer.pyx.hash
venv/lib/python3.8/site-packages/aiohttp/.hash/_websocket.pyx.hash
venv/lib/python3.8/site-packages/aiohttp/.hash/hdrs.py.hash
venv/lib/python3.8/site-packages/aiohttp-3.8.1.dist-info/LICENSE.txt
venv/lib/python3.8/site-packages/aiohttp-3.8.1.dist-info/METADATA
venv/lib/python3.8/site-packages/aiohttp-3.8.1.dist-info/top_level.txt
venv/lib/python3.8/site-packages/aiohttp-3.8.1.dist-info/WHEEL
.vscode/settings.json
